/*轮播图*/
.shuffling_figure{width:100%;height:483px;overflow:hidden;position: relative;margin-top:98px;}
.shuffling_figure img{height:483px;}
.relative{position:relative;left:0;top:0;}
.shuffling_box{overflow:hidden;visibility:hidden;position:relative;}
.shuffling_wrap li{position:relative;display:block;width:100%;float:left;}
.shuffling_position{width:100%;text-align:center;position:absolute;bottom:3px;}
.shuffling_position li{display:inline-block;width:7px;height:7px;border-radius:10px;background:#fff;}
.shuffling_position li.on{background-color:#22a639;}

/* */
.index_intr_box_info{
	width: 100%;
	height: 500px;
	position: relative;
	background-color: #fff;
}
.index_intr_box{
	width: 1000px;
	margin: 30px auto auto;
	padding: 0 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
	box-sizing:border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	background-color: #fff;
}
.index_intr {
	line-height: 40px;
	font-size: 24px;
}
.index_intr .index_intr_e{
	color: #ccc;
}
.index_intr img{
	width: 3px;
	height: 16px;
}
.index_intr_show{
	width: 100%;
	height: 260px;
	margin-bottom: 30px;
}
.index_intr_show img{
	width: 463px;
	height: 100%;
	float: left;
}
.index_intr_show .video-js{
	width: 463px;
	height: 100%;
	float: right !important;
}
.index_intr_show .video-js .vjs-big-play-button{
	width: 80px;
	height: 80px;
	border-radius: 100%;
	background-color: rgba(0,0,0,0.4);
	border: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
}
.my-video-dimensions{
	width: 463px;
	height: 260px;
}
.index_intr_word{
	line-height: 34px;
	padding-bottom: 45px;
}
.index_bgC{
	height: 40px;
	width: 100%;
	background-color: #22a639;
}