/* head */
.head_box{
	width: 100%;
	height: 97px;
	background-color: #fff;
	position: absolute;
	top: 0;
	border-bottom: 1px solid #ccc;
}
.head_info{
	width: 1000px;
	height: 100%;
	margin: auto;
}
.head_left{
	width: 360px;
	height: 100%;
	float: left;
	background: url(../images/logo.png) left center no-repeat;
}
.head_right{
	width: 620px;
	height: 100%;
	float: right;
	border: 1px solid green;
}
.head_right_tel{
	text-align: right;
}
.head_tel_word{
	color: #22a639;
}
.head_tel_num{
	color: #22a639;
	font-size: 20px;
}
.head_right_nav span{
	width: 100px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #333;
	display: block;
	float: left;
	cursor: pointer;
}
.head_right_nav span.head_nav_ck a{
	width: 100%;
	height: 100%;
	color: #fff;
	display: block;
	background:url(../images/nav_bg.png) no-repeat;
}

/* con */
.con_box{
	width: 100%;
	overflow: hidden;
}
.con_box .ifr-con{
	height: 100%;
	overflow-x: hidden;
	overflow-y: hidden;
	border:0;
}
.con_box .ifr-con::-webkit-scrollbar{
	width: 0;
}
